body{
  background-image: linear-gradient(to right, white , skyblue);
}

p{
  backgound-color:yellow;
}

.test{
  background-color: yellow;
}

h1 {
   text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
   color: white;
}
